

#meny

{
       margin-right:auto;
    margin-left:auto;
    padding:0;
   
   /* margin-left:0px;*/
    background-image:url("pics/loggapaint.png");
    /*background-size:350px 100px;*/
    
   opacity: 0.9;
   background-position:center top;
    background-repeat: no-repeat;
    /*max-width:100%;*/
    /*background-image:url("pics/logga.png");*/
    /*background-repeat: no-repeat;*/
   
    /*background-size:500px;*/
    height:100px;
     background-color:white;
    /*border-radius: 3px;
*/
}
#meny2
{   
    margin-right:auto;
    margin-left:auto;
     
    /*margin-left:280px;*/
    background-color:gray;
    /*max-width:960px; */

    
}
#meny2 ul 
{ 
     /*margin-right:auto;*/
    margin-left:170px;
     
    /*position: relative;*/
    list-style-type: none;
    /*float:center;*/
    /*padding:0;margin:0;*/
}
#meny2 li


{
      margin-right:auto;
    margin-left:auto;
   background-color:gray;
    border-collapse: separate
    /* border-left: 1px solid gray;
    border-radius:5px solid;
    */
    background-color:white;
    float:left;
    list-style-type: none;
    padding:0;margin:0;background-image:none;
     margin-top:100px;
}

#meny2 li.highlight
{
    width:;
    background-color:black;
    top:50px;
    height:8px;
    z-index: 1;
    position: absolute;
    overflow:hidden;
    opacity: 0.5;
    
}
#meny2 li a
{
    
    height:35px;
    padding-top: 16px;
    margin: 0 20px;
    color:white;
    font: normal 20px arial;
    text-align: center;
    text-decoration: none;
    display: block;
    float:left;
    position: relative;
    z-index: 2;
}
